
<label>Title: 
    <input type="text" required #title (keyup.enter)="addTask(title.value, date.value, description.value)">
</label><br>
<label>Date (format - "dd/mm/yyyy"):
    <input type="text" #date (keyup.enter)="addTask(title.value, date.value, description.value)">
</label><br>
<label>Description: 
    <input type="text" #description (keyup.enter)="addTask(title.value, date.value, description.value)">
</label><br>
<button (click)="addTask(title.value, date.value, description.value)">Create task</button><br>